{% extends 'base.html.twig' %}

{% block title %}Lazlo | Plats{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Tous nos plats</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laboriosam est dolor minima corrupti. Aperiam
        nobis quod rem. Esse accusantium cum voluptatum sequi optio dolorum, aliquid libero odio nisi beatae.</p>
</div>
<div class="container">

</div>
{% endblock %}